:root {
    --color-bg: #303633;
    --color-text: white;
    --color-link: #99C1F1;
    --color-visited: #DC8ADD;

    --container-x-padding: 1rem;
    --container-width: 1000px;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #303633;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-text);
}

* {
    box-sizing: border-box;
}

h1 {
    text-decoration: underline;
}

a,
a:link {
    color: var(--color-link);
}

a:visited {
    color: var(--color-visited);
}

a:visited:after {
    content: "-";
    color: blue;
}

figure {
    text-align: center;
    margin: 1rem 0;
}

figure img {
    max-width: 100%;
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .2);
}

pre {
    overflow-x: auto;
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-x-padding);
    max-width: var(--container-width);
}

/* Padding para caer en 1000 bytes justo */
