:root {
    --toolbar-height: 56px;
    --toolbar-bg-color: #1B2224;

    --button-size: 40px;

    --color-dark: #212529;
    --color-clear: #dadada;
    --color-pizarra: #303633;
}

body {
    overflow: hidden;
    background-color: var(--color-pizarra);
}

#canvas {
    width: 100%;
    height: calc(100vh - var(--toolbar-height));
}

#color {
    width: 40px;
}

#buttons {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#buttons button {
    display: block;
    width: var(--button-size);
    height: var(--button-size);
    border: 0;
    padding: 0;
    line-height: var(--button-size);
    border-radius: calc(var(--button-size) / 2);
    margin-bottom: 10px;
    background-color: var(--color-dark);
    color: var(--color-clear);
    font-size: 24px;
    font-weight: bold;
}

#buttons button svg path {
    fill: var(--color-clear);
}
